# Logs
logs/

# Reports
reports/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# User email config
email_config.json 